*{
    box-sizing: border-box;
    font-family: "Europa",;
    background-color: #285949;
}

img  {
    width: 373px;
    height: 250px;
    display: flex;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight:normal;
  font-style: normal;
}

th {
            color: white;
        }

input::placeholder {
            color: white;
        }

h1 {
    font-size: 24px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 25px;
}

li {
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 10px;
}

input[type="checkbox"] {
    width: 600px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

